
<!--/* Background pattern from Toptal Subtle Patterns */-->
<!--/* Profile images created by Susan Ashmroe */-->
body {
    background-image: url('C:/Users/scash/Desktop/web-class/Susan-Ashmore-prework/Module-1_Assessment/assets/images/geometric-leaves.png');
    }
    
      .img-responsive {
        width: 100%;
        height: auto;
      }
      
      .img-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
      }
      
      .img-overlay:before {
        content: ' ';
        display: block;
        /* adjust 'height' to position overlay content vertically */
        height: 100%;
      }
      .block {
        display: block;
        width: 100%;
        border: none;
        background-color: #4aaaa5;
        color: white;
        padding: 14px 28px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;
        position:absolute;
        transition: .5s ease;
        top: 55%;
      }
      
      .block:hover {
        background-color: transparent;
        color:white;
      }
      #img_container {
        position:relative;
        display:inline-block;
        text-align:center;
        border:none;
      }
      .button {
        position:absolute;
        bottom:10px;
        right:10px;
        width:100px;
        height:30px;
      }

       .img-rotate {
           transform: rotate(90deg);
           width: 150px;
           height: 150px;
        }