@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');

body {
    background-color:grey;
    margin: 0;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    
}
h1 {
    font-size: 30px;
    height: 10px;
    padding: 5px;
    margin: 5px;
    font-family: 'Yeon Sung', cursive;
}
h2 {
    font-size: 25px;
    height: 10px;
    padding: 5px;
    margin: 5px;
    font-family: 'Yeon Sung', cursive;
}
h3 {
    font-size: 25px;
    height: 10px;
    padding: 5px;
    margin: 5px;
    font-family: 'Yeon Sung', cursive;

}
.box1 {
    background-color: rgb(59, 173, 218);
    font-family: 'Yeon Sung', cursive;
    font-size: 30px;
}

.box2{
    
    color: black;
    font-family: 'Yeon Sung', cursive;
    font-size: 20px;
}

.box3 {
    background-color: rgb(212, 35, 35);
    font-family: 'Yeon Sung', cursive;
    font-size: 30px;
}
